@import "../../vars.css";

.container {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 79px;
  color: var(--color-text);
}

.content {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
