@import "../../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.separator {
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  width: 50vw;
  height: 1px;
  min-width: 250px;
  background: var(--color-text);
  z-index: 0;
}
