@import "../../vars.css";

.container {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 79px;
  color: var(--color-text);
}

.content {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 14px;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background-color: var(--color-box);
  background-image: linear-gradient(
    90deg,
    rgba(154, 138, 86, 0.51) 0%,
    rgb(154, 138, 86) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(227, 183, 183, 0.375);
}

.historyItem:hover {
  background-size: 100% 100%;
  color: white;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails h3 {
  font-size: 20px;
  font-weight: 700;
}

.historyItemDetails p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.historyItemDetails ul {
  font-weight: 500;
  margin-top: 6px;
  list-style-position: inside;
  font-size: 16px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    align-items: center;
    gap: 34px;
  }

  .history {
    gap: 9px;
  }

  .historyItem {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .historyItemDetails h3 {
    font-size: 16px;
  }

  .historyItemDetails p {
    font-size: 12px;
  }

  .historyItemDetails ul {
    font-size: 14px;
  }
}
